[2017-02-20 15:21] wbhob opened #1 "Publish to NPM?"
I think this is an NPM worthy package... would you consider publishing it?

[2017-02-20 17:43] scott-wyatt commented on #1
@wbhob I haven't actually published a typescript package to npm before, do you have some advice on that?

[2017-02-20 17:45] wbhob commented on #1
You should just be able to build it and upload. You'll need to create a package.json with a peer dependency of angular, and then you should be good to go.

On Feb 20, 2017, 12:43 PM -0500, Scott B. Wyatt <notifications@github.com>, wrote:

[2017-02-21 19:59] scott-wyatt commented on #1
This may take a bit for me to get this right, but i've published it to npm as [ng-intercom](https://www.npmjs.com/package/ng-intercom). Totally open to PRs as I don't have a ton of time right now. The only requirement is that it work for angular universal.

[2017-02-21 19:59] #1 closed, assigned to nobody

[2017-03-07 20:15] wbhob opened #3 "Publish 0.1.1"
Sorry, I found a bug and scrambled to fix it. If you could please pull the latest changes and run `tsc`, and publish 0.1.1 to NPM, that'd be great.

[2017-03-08 18:23] scott-wyatt commented on #3
Published to npm.

[2017-03-08 18:23] #3 closed, assigned to nobody

[2017-03-08 19:39] wbhob opened #4 "Publish 0.1.2"
Oopsy, I made an emergency fix. No API changes, but it does work!

[2017-03-10 03:32] scott-wyatt commented on #4
Lol, Published, we really should write some tests!

[2017-03-10 05:51] wbhob commented on #4
Yes we must

[2017-03-10 23:56] wbhob commented on #4
0.2.0 is ready to publish. We should use a CI script to publish so I don't have to ask you to pub every time 😄

[2017-03-11 20:12] #4 closed, assigned to nobody

[2017-03-11 20:12] wbhob opened #5 "Publish 0.2.0"
0.2.0 is ready to publish. We should use a CI script to publish so I don't have to ask you to pub every time 😄

[2017-03-12 02:46] scott-wyatt commented on #5
Published!

[2017-03-12 02:46] #5 closed, assigned to nobody

[2017-03-12 02:56] wbhob commented on #5
Thank you!

[2017-03-17 15:46] marianovf30 opened #6 "Error: Can't resolve 'ng-intercom'"
Hello, I am getting this error when i run my app. I am using angular-cli.

Error: "Error: Can't resolve 'ng-intercom'" in app.module"

Error: "Error: Can't resolve 'ng-intercom' in component"

[2017-03-17 15:47] wbhob commented on #6
I am aware, it was fixed in 0.2.1

On Mar 17, 2017, 11:46 AM -0400, Mariano Villalta <notifications@github.com>, wrote:

[2017-03-17 15:52] marianovf30 commented on #6
Thanks for the response. I am using the 0.2.1 version.

[2017-03-17 16:00] wbhob commented on #6
Try removing node modules and run npm install

On Mar 17, 2017, 11:52 AM -0400, Mariano Villalta <notifications@github.com>, wrote:

[2017-03-17 16:48] marianovf30 commented on #6
I just did and get the same error

[2017-03-17 16:53] wbhob commented on #6
I know this was an error with 0.1, but I tested and I know it's fixed in 0.2.

Wilson Hobbs
CEO/Founder/Developer at Canal
11th Grade at The Lovett School

Personal Information
E-mail: wilsonhobbs1@gmail.com
Cell: (404) 719-3252
Website: www.wilsonhobbs.com (https://www.wilsonhobbs.com)
Twitter/Instagram/Facebook: @wbhob

Canal Information
E-mail: wilson@getcanal.com
Web: www.getcanal.com (https:/

[2017-03-17 16:54] wbhob commented on #6
Make sure angular cli is up to date.

Wilson Hobbs
CEO/Founder/Developer at Canal
11th Grade at The Lovett School

Personal Information
E-mail: wilsonhobbs1@gmail.com
Cell: (404) 719-3252
Website: www.wilsonhobbs.com (https://www.wilsonhobbs.com)
Twitter/Instagram/Facebook: @wbhob

Canal Information
E-mail: wilson@getcanal.com
Web: www.getcanal.com (https://www.getcanal.com/)

Twitter/Instagram/Fa

[2017-03-18 19:45] wbhob commented on #6
I'm going to go ahead and close this, if this is still an issue, please reopen and provide more information (Angular version, CLI version, OS, etc.)

[2017-03-18 19:45] #6 closed, assigned to nobody

[2017-04-20 21:16] otusweb commented on #6
I"m running into the same issue.
HEre is my setup:
[code]

npm view ng-intercom version
``` 0.2.1 ```

[2017-04-21 07:10] otusweb opened #7 "ng-intercom undefined"
Re-opeing issue #6 as I'm getting the same issue. I followed the instruction on he home page, I add the import in my module.ts file, then add ng-intercom to the list of imports and get this error:
[code]

my app.module.ts file
[code]

OS: mac OS 10.12

[code]

[2017-04-21 10:43] wbhob commented on #7
1. You published a live access token
2. That error means the module is not installed, not that there is a compilation error. I'll try and take a look, but make sure it's properly installed first.

Wilson Hobbs
CEO/Founder/Developer at Canal
11th Grade at The Lovett School

Personal Information
E-mail: wilsonhobbs1@gmail.com
Cell: (404) 719-3252
Website: www.wilsonhobbs.com (https://www.wilsonhobbs

[2017-04-21 12:34] wbhob commented on #7
@scott-wyatt Are you building with `npm run build`? If not, please build with that command and yank the current version

[2017-04-21 18:37] otusweb commented on #7
The module is installed, I ran npm install ng-intercom first.

I'm building my app with ng build --watch
Thanks for pointing the token.

[2017-04-21 18:47] wbhob commented on #7
Cut new version @scott-wyatt

[2017-04-25 19:30] wbhob commented on #7
@scott-wyatt hello? are you there? 😄

[2017-05-01 19:02] scott-wyatt commented on #7
Sorry for the delay, 2.2 is published now on NPM.

[2017-05-01 19:02] #7 closed, assigned to wbhob

[2017-06-28 02:14] wbhob opened #10 "Directives Tracking"
I think we need to develop some directives to tie/hook into Intercom. If anyone has other ideas about what to put here, please add it as a comment below.

Current Plan:
- [x] *Show Intercom*: show a new message window
- [x] *Show Intercom with Message*: Show a new message window prepopulated with content
- [x] *Track event*: Track an event by name
- [x] *Log Out/Shutdown*: shut down intercom, for

[2017-07-10 14:04] craigeddy opened #11 "Received "window.Intercom is not a function" error"
Until I added the following to my app's `index.html`:

[code]

[2017-07-10 14:25] wbhob commented on #11
Yes, that is the intended behavior. You need to instantiate Intercom before you can access the services.

[2017-07-10 14:25] #11 closed, assigned to nobody

[2017-07-10 14:50] craigeddy commented on #11
👍

I'd recommend adding a note/step to the readme perhaps. Save the less-savvy in Angular folks such as myself.

[2017-07-10 15:04] wbhob commented on #11
Done! @craigeddy

[2017-07-10 17:37] wbhob commented on #10
@scott-wyatt I'm going to make some changes shortly, I'll let you know. Can you put them in an beta channel on NPM (not the primary channel so we don't screw up people's deps *yet*)

[2017-07-11 00:58] wbhob commented on #10
@scott-wyatt if you just want to add me to the NPM page, that should also work. I'm also @wbhob on NPM

[2017-07-11 01:15] wbhob commented on #11
I actually implemented this functionality in to the 1.0.0-alpha, releasing soon, so it automatically injects the script for you. Is this something you would be interested in trying? @craigeddy

[2017-07-12 15:59] scott-wyatt commented on #10
@wbhob you are now an owner of ng-intercom on npm

[2017-07-12 17:55] wbhob commented on #10
Yay I published alpha 1.

[2017-07-12 17:55] #10 closed, assigned to nobody

[2017-07-20 02:36] wbhob commented on #11
@craigeddy v1.0.0-alpha is out, would you mind giving it a try?

[2017-07-20 03:13] craigeddy commented on #11
Certainly. Total Angular/npm noob (C# & NuGet are my jam). How would I upgrade to this version?

[2017-07-20 03:15] wbhob commented on #11
https://github.com/CaliStyle/angular2-intercom/blob/1.0.0-alpha/docs/1-Installaton.md

[2017-07-21 21:14] craigeddy commented on #11
When I use this version, I'm getting a compile error on ng serve:

`ERROR in Error encountered resolving symbol values statically. Calling function 'IntercomModule', function calls ar
e not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symb
ol AppModule in C:/Users/eddycr/Source/Repos/registration/src/app/app.module.ts, resolving symbol Ap

[2017-07-23 02:27] wbhob opened #12 "Function calls are not supported"
Copied from @craigeddy #11

*When I use this version, I'm getting a compile error on ng serve:*

`ERROR in Error encountered resolving symbol values statically. Calling function 'IntercomModule', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symb ol AppModule in C:/Users/eddycr/Source/Repos/registration/src/app/app.m

[2017-07-23 02:28] wbhob commented on #11
@craigeddy I'll look into it soon. I openned another issue at #12. Thanks for the feedback!

[2017-07-30 05:17] wbhob commented on #12
@craigeddy just published v1.0.0-alpha.7, and it seems to be working in my test project. Thanks for all your help testing! Know you're helping all of the other NgIntercom users to get an amazing dev experience!

[2017-07-31 17:56] craigeddy commented on #12
Cool. I'll give it a try sometime later this week. Thanks!

[2017-08-15 14:42] devonsams opened #14 "Error: Unexpected value 'undefined' exported by the module 'IntercomModule'"
I'm using the alpha branch. Importing the module like so: `IntercomModule.forRoot({ app_id: '<%= INTERCOM_ID %>'})`

[2017-08-15 19:47] #12 closed, assigned to nobody

[2017-08-15 19:49] wbhob commented on #14
Thanks for opening an issue! Could you please share a call stack with me? That will help me diagnose the issue much faster.

Thanks!

[2017-08-17 02:40] wbhob commented on #14
I'm going to close this issue in a few days if I don't get your response @pos1tron

[2017-08-17 13:19] devonsams commented on #14
Sorry for the late reply. You can go ahead and close. I got by this by
going back to an older version.

On Wed, Aug 16, 2017 at 10:40 PM, Wilson Hobbs <notifications@github.com>
wrote:

--

[2017-08-17 13:19] #14 closed, assigned to nobody

[2017-08-19 18:11] wbhob commented on #14
So the current version works as expected @pos1tron

[2017-08-22 09:08] flore2003 commented on #14
@wbhob I'm getting the same error with version 1.0.0-alpha6 published on npm.

[code]

I'm importing the module (using IntercomModule.forRoot({app_id: 'appid'})) in my AppModule. When the application loads, the error from above is thrown.

Any ideas?

[2017-08-22 09:53] flore2003 commented on #14
@wbhob I found the issue and submitted a pull request with the fix :)

[2017-08-22 15:08] wbhob commented on #14
Thank you @flore2003! Released version 1.0.0-beta.0.

[2017-08-23 09:07] flore2003 opened #17 "Automatically send update pings when user navigates in the app to simulate page loads"
Usually, Intercom track the user on their journey through the app using page loads. However, when using Intercom with a SPA, the user navigation is not automatically recorded, rather, the Intercom JavaScript SDK provides an update method that can be called whenever the URL changes without a real page load to tell Intercom that the user has navigated (https://developers.intercom.com/v2.0/docs/integ

[2017-08-23 10:32] flore2003 opened #18 "Production build throws error in version 1.0.0-beta.0"
**Problem**
When building an app using the ng-intercom library in production mode, the following error is thrown:

[code]

This is due to the `Intercom` class being specified in both the module's providers and in the providers of the `forRoot()` method.

**Solution**
Only the `forRoot()` method should specify the `Intercom` class as a provider.

[2017-08-23 11:40] #18 closed, assigned to nobody

[2017-08-23 11:42] wbhob commented on #17
I'll work on this today, thanks for the request!

[2017-08-23 17:34] wbhob commented on #17
Released 1.0.0-beta.1 with a new option `updateOnRouterChange`. Set it to `true` to automatically handle router events.

[2017-08-25 01:19] #17 closed, assigned to nobody

[2017-08-25 06:04] scott-wyatt commented on #17
Just a heads up, you nessecarily don't have to log to intercom on a route change in a spa, they watch window.location. Unless you are bypassing the angular routers native functionality to perhaps add something like query strings or something using the navigator and ignoring the history API. Still a cool feature, but it can double log an event, so it's best to use with caution.

[2017-08-25 07:42] flore2003 commented on #17
@scott-wyatt Could you point me to where this is stated? I've looked through the documentation but could not find mention of this behavior.

[2017-08-25 14:40] wbhob commented on #17
Good note @scott-wyatt, can you add that to the docs?

[2017-08-28 19:35] scott-wyatt commented on #17
@flore2003 I was just going through their docs and it says it does require you to send an Itercom.update, which is odd, because I don't do that but still see the current page in intercom despite not doing that in my sample apps. In the plugins code, it looks like it is listening for changes in the browser history API, so it would stand to reason that they are listening to it, but that it is not do

[2017-08-28 19:37] wbhob commented on #17
I think this is just a safe option for those who want to follow the API docs. This is definitely a feature I like having.

[2017-09-06 15:30] gerardmendes opened #20 "The onUnreadCountChange delegates to Intercom's onHide event handler"
Or at least, this is my interpretation of [l193](https://github.com/CaliStyle/angular2-intercom/blob/master/src/intercom/intercom.ts#L193)

[2017-09-06 16:18] wbhob commented on #20
Oh you're right, my oversite. I'll fix it and release in a few

[2017-09-07 00:06] #20 closed, assigned to nobody

[2017-09-07 00:06] wbhob commented on #20
Fixed in beta 6

[2017-10-02 06:31] seigneur opened #21 "Can't bind to 'intercomShow' since it isn't a known property of 'button'"
Using 1.0.0-beta.6 ,

Added it to app.module.ts and app.component.ts as per installation directions.

On Route change Pings are send out as well the iframe is loaded. However when I try to use the directive : <button [intercomShow]="yourMessage"></button> . I get the above error.

Uncaught Error: Template parse errors:
Can't bind to 'intercomShow' since it isn't a known property of 'button'. ("

[2017-10-02 12:42] wbhob commented on #21
You need to add `IntercomModule` to your PagesModule, without `forRoot()`. That way, you can register the directives with the module without registering the Intercom provider in the child module.

[2017-10-02 12:42] #21 closed, assigned to nobody

[2017-10-02 15:10] newPrimitives opened #22 "Error initialising Intercom in app.module.ts"
I've installed Intercom through` npm install ng-intercom@beta --save `

When trying to import the Intercom in app.module.ts

[code]

I get the following two errors:

[code]

I'm using Angular 4.

[2017-10-02 15:15] newPrimitives commented on #22
Okay, I've just went through some other issues reported here and I've made it work based on a code snipped from an unrelated topic. Two things:
It's not **"appID"** anymore it's **"app_id"** and once i remove **updateOnRouterChange** It works. I'm not sure if it's just a matter of readme update or a bug in the code.

So switching from this:
[code]

To this:

[code]

[2017-10-02 15:39] newPrimitives commented on #22
Okay, for some strange reason this now works, I've installed intercom again by using
`npm install ng-intercom --save` and it works, however the chat icon is not showing up. I'm also using the code from the readme with one addition, which is user_id.

[2017-10-02 19:58] wbhob commented on #22
The beta has been moved to the `latest` tag, so that has the latest version. The code from the readme should not take a `user_id` property in `forRoot()`, so that may be your issue. Are you getting any console logs or errors?

[2017-10-04 11:03] newPrimitives commented on #22
I've used user_id in my component when I wanted to display the intercom chat widget. I used the exact same code as the example in readme and initially i get **Intercom.init is deprecated and will be removed in a future release. Please use Intercom.boot.** After I replace to t**his.intercom.boot** nothing happens. No errors in the console. not widget in the corner.

[2017-10-04 17:49] wbhob commented on #22
To clarify: `init` works, and `boot` does not?

[2017-10-04 19:42] newPrimitives commented on #22
No, nothing works, the only difference is that init throws console warning and boot doesn't show anything. In both cases, I don't see the chat widget in the corner. Just to test it, I've included a vanilla JS code in my index.html file in the header and the chat button shows up, so it's definitely an issue with the library.

[2017-10-04 19:44] wbhob commented on #22
@newPrimitives `init` is deprecated in favor of `boot` to more closely match the IntercomJS API.

Can you please share a repo so I can see the issue?

[2017-10-04 19:49] newPrimitives commented on #22
It's a private repo but here's how I integrate it in the component:

In the app.module.ts

[code]

In the component:

[code]

For the sake of testing I just want to see a blue chat bubble in the bottom right corner.

[2017-10-04 19:50] wbhob commented on #22
just call `this.intercom.boot`, and `appId` should be `app_id`

[2017-10-04 19:50] wbhob commented on #22
If that is the issue, let me know so I can fix the docs

[2017-10-04 19:56] newPrimitives commented on #22
Unfortunately, not. My IntercomConfig looks like this:

[code]

so **app_id** instead of **appId** throws an error. Calling just **this.intercom.boot()** doesn't help either.

[2017-10-04 20:00] wbhob commented on #22
What version are you on?

[2017-10-04 20:06] newPrimitives commented on #22
npm-list shows ng-intercom@1.0.0-beta.6

[2017-10-04 20:09] wbhob commented on #22
Ok I’ll try to take a look tonight. Thanks for letting us know!

[2017-10-04 20:14] newPrimitives commented on #22
Thank you, let me know the results, really appreciate it.

[2017-10-10 05:11] alexnoox commented on #22
I'm having the same issue. I've been investigating a bit:
- To display the default button, the correct `boot` config option is **#IntercomDefaultWidget**:
[code]

- `IntercomModule.forRoot({appId: environment.intercom.app_id}),` seems to be the right syntax `appId` is only used to initialise Intercom JS code (cf. https://github.com/CaliStyle/angular2-intercom/blob/master/src/intercom/intercom.ts#L

[2017-10-10 05:13] wbhob commented on #22
I'm beginning to think it's something wrong with loading intercom asynchronously. I may need to dive in and investigate more. PRs would be accepted and greatly appreciated

[2017-10-14 03:27] wbhob commented on #22
Update: I can reproduce this error. It seems to be a whitelist error, but it could be something entirely different. Open to suggestions and PRs.

[2017-10-14 03:50] #22 closed, assigned to nobody

[2017-10-14 03:51] wbhob commented on #22
Alright folks, I just released beta.7. Thanks for your patience! I've verified that it is working locally.

As an aside, make sure that you have whitelisted `localhost` so that Intercom knows requests are coming from you. I recommend using the TEST app so that you don't go into production with localhost whitelisted!

[2017-11-14 23:25] philljones opened #23 "Issues getting set up"
Hi - the instructions as written are not working for me.

$ npm install ng-intercom@beta --save    <-- appears to be installing an alpha build that is not with the rest of the instructions:

IntercomModule.forRoot({
            appId: "w0admjxc",
            updateOnRouterChange: true // will automatically run `update` on router event changes. Default: `false`
})

appId and updateOnRouterChange th

[2017-11-15 00:07] philljones commented on #23
OK,
1) I updated my CLI and NPM to the latest - just in case that might be the issue.
2) ran npm install -ng-intercom@latest -save

But I am still getting the same compile error.

 I am running Angular 4.4.3 btw.

[2017-11-15 05:18] wbhob commented on #23
We have updated the package to support Angular 5 metadata. If your application is on v4, it will not work. I will push a new version to indicate that it requires a peer of v5.

[2017-11-15 05:21] wbhob commented on #23
ng-intercom now requires a peer of Angular >=5.0.0. You can use `ng-intercom@1.0.0-beta.8` for the time being if you need 4.x.x support.

[2017-11-15 13:30] philljones commented on #23
Thank you!

1) Deleting \node_modules\ng-intercom
2) npm install --save **--save-exact** ng-intercom@1.0.0-beta.8

... solved the issue for me on my Angular 4.4.3 version.

Thanks again.

[2017-11-15 14:43] wbhob commented on #23
Happy to help!

[2017-11-15 14:43] #23 closed, assigned to nobody

[2017-12-05 13:01] rajesh-mobicules opened #25 "Getting issues when installing this module for angular cli project"
Hi,

I am getting error Metadata version mismatch for module ../node_modules/ng-intercom/dist/index.d.ts, found version 4, expected 3,

I am using angular cli. The angular cli version is up to date!.

Please suggest.

[2017-12-05 13:33] wbhob commented on #25
Is your Angular version v5 or higher?

[2017-12-05 13:36] rajesh-mobicules commented on #25
My angular version is angular 4.

[2017-12-05 13:59] wbhob commented on #25
That's the reason. Upgrade to Angular v5 and the issue will go away.

[2017-12-05 17:18] rajesh-mobicules commented on #25
I upgraded angular core, angular common to version 5 but getting the same issue!

[2017-12-05 18:42] wbhob commented on #25
Everything needs to be v5.

`rm -r node_modules; rm package-lock.json; npm install`

[2017-12-25 01:42] wbhob commented on #25
Closing due to no response.

[2017-12-25 01:42] #25 closed, assigned to nobody

[2018-01-11 15:54] Lionardo opened #26 "add vertical_padding: options"
I don't see any possibility on how I can change the vertical padding for my intercom chat. In the docs of intercom they suggest to use this method. Is there a possibility to do this?
Cheers

[code]

[2018-01-12 00:38] wbhob commented on #26
That's something I can add. Can you link to docs please?

[2018-01-12 08:09] Lionardo commented on #26
cool. here are the docs:
https://developers.intercom.com/docs/configuration

[2018-01-12 15:30] texirv0203 opened #27 "error TS2304: Cannot find name 'object'"
hi,

- I am getting below error when I install intercom package.
	https://github.com/CaliStyle/angular2-intercom
	npm install ng-intercom@latest --save
- its pointing to this line --->  init(intercomData?: object): any;
- can you guys tell me how to fix it.
- providing my code snippet below.
- this is the line I included in app.module.ts ---> import { IntercomModule } from 'ng-intercom';

node_mod

[2018-01-15 01:58] wbhob commented on #26
Alrighty, added these features in beta 11

[2018-01-15 01:59] #26 closed, assigned to nobody

[2018-01-15 01:59] wbhob commented on #27
Yeah this requires typescript >2.3

[2018-01-17 09:41] hassanasad opened #28 "How to use app_id returned from API"
Is it possible to provide the {app_id} for intercom at a later stage? I have to pull that using an API call so its not available at boot time.

For that reason i dont have app_id to put here:
[code]

[2018-01-17 17:59] hassanasad opened #29 "Attach a method or service on route change"
Is it possible to attach a method to be called from service on each route change?

For example,
If i setup:
[code]

Can i bind a function to be called on each route change to manipulate intercom data to be sent?

[2018-01-17 22:35] wbhob commented on #29
Yes, but this is not the place to ask.

This can help: https://stackoverflow.com/questions/42453375/how-to-call-a-function-on-every-rotute-change-in-angular2

[2018-01-17 22:35] #29 closed, assigned to nobody

[2018-01-17 22:36] wbhob commented on #28
Currently, this is synchronous, so it can be statically analyzed by the compiler. If you have another suggestion of how to implement it, I'd be open to a PR.

[2018-01-18 02:12] hassanasad commented on #29
Its related to intercom. I am trying to fetch some properties from API to
be pushed as intercom data on each route change.
Anyways, thanks for the link
On Thu, Jan 18, 2018 at 3:35 AM Wilson Hobbs <notifications@github.com>
wrote:

[2018-01-18 06:10] hassanasad commented on #28
How about we make the `appId` optional in the `.forRoot` method and instead pick it up from `Intercom.boot({config})`? Can that work?

[2018-01-19 11:46] hassanasad commented on #28
@wbhob Would it be possible that way ?

[2018-01-19 14:02] felipegomesflg opened #30 "Version Mismatch"
I could use it for dev with no problems, but when i build for prod i had this error comming up:

`ERROR in Metadata version mismatch for module C:/mdc/mdc.pagalee.dashboard/node_modules/ng-intercom/dist/index.d.ts, found version 4, expected 3, resolving symbol AppModule in C:/mdc/mdc.pagalee.dashboard/src/app/app.module.ts, resolving symbol AppModule in C:/mdc/mdc.pagalee.dashboard/src/app/app.mod

[2018-01-19 22:55] nearbycoder opened #31 "If no script tag is on page a parentNode error is thrown"
First off love the easy to use library that you have. I ran into a bug recently when trying to use this library. We didn't have a script tag on our page and we ended up getting a parentNode error because of this which was a bit misleading.

Would it be a more ideal situation to rely on the head element here or possible add some documentation about the requirement of at least one script tag? Thanks

[2018-01-20 15:55] wbhob commented on #31
Well a few lines above it, it creates a script tag in the DOM. This is a direct port of the Intercom instantiation code. Perhaps document.write-ing a script tag to start would fix it in this script?

[2018-01-20 15:55] wbhob commented on #30
Nuke node_modules and npm install, that should fix your issue.

[2018-01-21 16:16] wbhob commented on #28
Actually I realized that even Intercom's regular code requires you to pass in an ID to the loading script. I can't think of a good way to do this. I don't really understand why you'd load the ID from the server, though. Even if someone does get your ID, you can just whitelist your app's domain and they can't get in.

[2018-01-21 16:26] hassanasad commented on #28
@wbhob Thanks for looking into this.

I was wondering if we use the `loadIntercom` function when you call `intercom.boot()` method. Wont that work?

The benefit of getting `appId` from API is that you do not need to hardcode it in your client side app. (I know that you can set it in environment and then use its build but if we can somehow capture it later in program life-cycle, it would be much mo

[2018-01-21 16:31] wbhob commented on #28
So you mean, defer loadIntercom until you (the consumer) calls it?

[2018-01-21 16:33] wbhob commented on #28
It's just that the config in forRoot doesn't just loadIntercom, but it is used by the Intercom provider and the directives to function properly, which is why it's hard to go outside of the module context. The way I have it in my apps is I just use environment variables. It's the fastest, most statically-analyzable way.

[2018-01-21 16:33] hassanasad commented on #28
Yes. Call loadIntercom when user calls the intercom.boot method.
Just a suggestion though.
On Sun, Jan 21, 2018 at 9:31 PM Wilson Hobbs <notifications@github.com>
wrote:

[2018-01-21 16:36] hassanasad commented on #28
Perhaps in that case you bind a dummy Intercom object to window and on boot
fire an event to trigger and essential stuff you do on loadintercom.
On Sun, Jan 21, 2018 at 9:33 PM Hassan Asad <hassanasad01@gmail.com> wrote:

[2018-01-21 16:38] hassanasad commented on #28
I know you want this too if you think it's possible to do. I read in a blog
post for the inspiration behind this package 😊
On Sun, Jan 21, 2018 at 9:36 PM Hassan Asad <hassanasad01@gmail.com> wrote:

[2018-01-21 23:56] wbhob commented on #28
I'd be open to seeing a PR for this, but unfortunately, I don't really have time for this functionality. This seems like a pretty edge use case for simply hardcoding it in, which is the way everyone uses Intercom.

If you have multiple apps, you can check out this fork of our project: https://www.npmjs.com/package/ng-intercom-multi

[2018-01-21 23:58] #30 closed, assigned to nobody

[2018-01-21 23:58] #27 closed, assigned to nobody

[2018-01-22 03:15] felipegomesflg commented on #30
My angular 5 packages was on beta, put it all on rc and worked just fine. Thanks anyways!

[2018-01-22 13:52] wbhob commented on #30
Angular 5 is extremely stable, you can use 5.2 now if you like and it will work

[2018-01-22 16:28] nearbycoder commented on #31
@wbhob yes I see that however it is not appending it to the DOM until the next line after

[code]

The createElement api doesn't insert it into the document body until you do `appendChild` or like the line above says `insertBefore`.

[2018-01-24 22:03] matt-filion opened #32 "Beta.11 intercom no longer opens/loads"
It does not appear to be calling the l() function within the util/load-intercom.ts file anymore.

[2018-01-25 01:15] wbhob commented on #32
Do you have any other information? Errors in the console, or something that would lead you to believe that that is the case? The code has not changed for that function, and it is ported directly from Intercom.

[2018-01-25 02:45] matt-filion commented on #32
When I changed back to .10 it worked. I'll dig a bit deeper to see what I
can find. In the latest version I could not place what is calling the l()
function. Do you know what is "supposed" to be invoking it?

On Jan 24, 2018 5:15 PM, "Wilson Hobbs" <notifications@github.com> wrote:

[2018-01-25 02:51] wbhob commented on #32
window.onLoad should be invoking it in compatible browsers, if not, it adds an eventlistener for load.

[2018-01-26 13:05] epoxy opened #33 "Property 'init' does not exist on type 'Intercom'"
In the readme regarding ngOnInit() it says that the following line should be used:

This gives me the error:

This error only occurred for version 1.0.0-beta.11 and not for 1.0.0-beta.10. I managed to fix it by using update instead of init. Perhaps the line in the readme should be changed to:

[2018-01-26 14:30] wbhob commented on #33
`init` is not actually an Intercom method anymore. Use `boot` to match the official intercom docs.

[2018-01-26 14:30] #33 closed, assigned to nobody

[2018-01-29 12:38] RikdeVos opened #34 "ReferenceError: document is not defined"
The intercom package is referencing the `document` which is a bad practise when using Angular. In my case it results in an error as I use Angular Universal to compile the app.

[2018-02-13 02:35] wbhob commented on #34
This is a direct port of the Intercom loading script. If you have a suggestion, I would be open to reviewing a pull request.

[2018-02-16 17:46] wbhob commented on #31
Any news on this? @nearbycoder  is it still a problem?

[2018-02-16 17:48] nearbycoder commented on #31
@wbhob we ended up just adding a blank script tag to get it to work. Not a perfect fix but it worked!

[2018-02-16 17:52] wbhob commented on #31
I may modify the script to just appendChild to the document. Rarely will people actually have a script tag in Angular. I'll take a look later today!

[2018-02-21 15:02] RuiEEE commented on #34
I'm getting the same issue and I'm guessing this is a SSR issue, can we make this happen? Prevent the server side to run the intercom loading script perhaps?

[2018-02-22 05:11] naguibihab opened #35 "Type mistmatch"
Following the tutorial in the README, I added in my ngOnInit:
[code]
And I got a TS error:

[code]

[2018-02-22 16:51] #35 closed, assigned to nobody

[2018-02-22 16:51] wbhob commented on #35
Fixed in 5e881c7

[2018-02-22 16:54] wbhob commented on #34
If you don't run the loading script, then the Intercom library won't load at all. You'll notice that the Intercom provider is an Angular-friendly wrapper around existing intercom methods. Unless someone knows a way to load the official intercom script at runtime, I don't think this will be available out of the box.

[2018-02-23 13:19] wildlifechorus commented on #34
I'm not gonna go into much detail but this is pretty simple.

1. Remove this third party, since it does not work on Angular 5.
2. On you `app.component.ts` add the following inside `ngOnInit()`:

[code]

This will work with Angular 5 SSR/AOT!

Don't forget to use:

`import { isPlatformBrowser } from '@angular/common';`

[2018-02-23 16:39] scott-wyatt commented on #34
@wbhob, we could move this lib into a modified boilerplate of https://github.com/CaliStyle/NgEngine. That has SSR/AOT testing built into it and [ng-packagr](https://github.com/dherges/ng-packagr) to deploy libraries.

[2018-02-23 16:42] scott-wyatt opened #36 "Rename Repo to "ng-intercom" to match the npm package"
@wbhob, I would like your feedback on this.

[2018-02-23 16:51] wbhob commented on #36
I agree. We’ll need to coordinate this change with the next npm release so the links are accurate

[2018-02-23 16:58] scott-wyatt commented on #36
Cool, good news is, as long we don't reuse the `angular2-intercom` namespace in this organization, github will just redirect requests to the new name.

[2018-02-23 19:21] wbhob commented on #36
Sounds good. ready when you are

[2018-02-23 19:22] scott-wyatt commented on #36
Renamed! Cheers

[2018-02-23 19:22] #36 closed, assigned to scott-wyatt

[2018-02-23 19:22] wbhob commented on #34
the issue is that Intercom depends directly on `document` to inject the intercom messenger script and modify the DOM to insert the messenger button. Other than working directly with intercom, I can't think of any way to support SSR.

[2018-02-23 19:28] scott-wyatt commented on #34
So, when I built this originally, I used dependency injection. On the server side it would just use a bunch of noops, render correctly and then carry out the client side intercom boot when angular does it's startup on the client side. You can also do this by what @wildlifechorus was talking about, by checking if the environment is the browser and not the server.  You don't want to render the inter

[2018-02-23 23:29] wbhob commented on #34
I guess my question is: how do we render intercom if it is in a server-side context? We still want consumers to be able to use Intercom, so how to we go about including the intercom script?

[2018-02-24 00:59] scott-wyatt commented on #34
Angular reboots even if it’s rendered server side, no worries mang, I can prove it and show it :-)

[2018-02-24 02:34] wbhob commented on #34
Sounds awesome

[2018-03-05 07:39] hassanasad opened #40 "Error with ng build --prod"
With version `1.0.0-beta.12` - when `ng build --prod` is called it fails to compile saying:

[code]

P.S: I use a **CoreModule** instead of **AppModule**

**It works fine with `1.0.0-beta.11` though**

[code]

[2018-03-05 22:06] chrishawn commented on #40
not sure if this is related but seems to be:
[https://github.com/angular/angular/issues/14707](https://github.com/angular/angular/issues/14707)

also this as well
[https://github.com/angular/angular-cli/issues/3854](https://github.com/angular/angular-cli/issues/3854)

[2018-03-06 00:38] scott-wyatt commented on #40
It seems it might be related indeed @chrishawn.  It might also be related to ng-packagr which is now used to output the library. PRs are welcome, I don't think I will be able to get to it until this weekend.

[2018-03-06 00:39] scott-wyatt commented on #34
Closing this as fixed in 1.0.0-beta.12, however beta.12 is having it's own issues.

[2018-03-06 00:39] #34 closed, assigned to nobody

[2018-03-12 16:29] chrishawn commented on #40
i poked around with it for a little while both options didn't seem to fix it, i think one needs to dig deeper,  also many people having problems with this.

[2018-03-20 11:38] Srilatha50 opened #41 "Installation Error"
I'm getting the following error when I tried installing ng-intercom using yarn

**error ng-intercom@1.0.0-beta.12: Expected version ">= 6.0.0 < 7.0.0.**

Before you submit an issue, please include:

- [ ] Angular Version: 4
- [ ] Angular CLI Version: 1.2.6
- [ ] Node & NPM Version: 9.5.0 & 5.6.0 respectively

Detailed Description on how to reproduce error:
yarn add ng-intercom or yarn add ng-inter

[2018-03-20 11:40] Senthilkumar-Fullstack commented on #41
Myself too face the same issue.
I'm using Windows 7 OS.
Please anyone help me to resolve the issue.

The same installation command is working fine for Linux and Mac OS.

[2018-03-22 16:16] KromPass commented on #40
I have the same problem.

[2018-03-22 19:46] MarkusPint commented on #32
I can confirm this. It happens on beta.12 too and switching back to beta.10 fixes it. There are no errors in console.

[2018-03-22 20:12] scott-wyatt commented on #40
Sorry everyone, I've been busy. This error is being caused by ng-packagr, I'll try and get a fix out for this as soon as possible unless someone beats me to it.

[2018-03-25 15:41] #41 closed, assigned to nobody

[2018-03-25 15:45] scott-wyatt commented on #40
Fixed by #42

[2018-03-25 15:45] #40 closed, assigned to nobody

[2018-03-25 15:46] scott-wyatt commented on #41
Fixed by #42

[2018-04-04 06:53] worldspawn commented on #32
I'm using beta11 on one site without issue and on another using beta11 the load event has fired at the time the intercom runs `loadIntercom`. Nfi why, it's all initialised in the same way. Only thought I had it something to do with how the modules were bundled (for lazy loading).

Could we perhaps do something like:

[code]

Though when i try that i get this in my log output
![image](https://user-

[2018-04-07 18:53] sijmenvos commented on #32
I can also confirm this, when using 1.0.0-beta.10 Intercom loads, on 1.0.0-beta.13 it doesn't either.

[2018-04-14 12:41] BCusack opened #44 "Undefined from http request"
Bug

Angular Version = 5.2.1
Angular CLI Version = 1.7.4
Node & NPM Version = 5.8.0

When loading the app at localhost and booting intercom widget, http request returns **undifind** from the request to 'https://widget.intercom.io/widget/undifined'.
I've traced this back to **ng-intercom.js** at:

`   Intercom.prototype.l = function () {
        var d = document;
        var s = d.createElement('sc

[2018-04-18 10:43] Svrkota-S opened #45 "Replacing API keys with Access Tokens"
Hi, is `ng-intercom` going to publish an update in order to support latest update with Access Tokens? You can read about it here: https://developers.intercom.com/v2.0/docs/replacing-your-api-keys-with-access-tokens-step-by-step-guide#section-step-2-replace-your-api-keys

I received an email which says:

Thanks in advance for any reply!

[2018-04-24 03:00] nicolasroy11 opened #46 "intercomShow directive not loading window"
This may or may not be a bug, I am just having a hard time getting the API to function as described in the docs. I can't seem to get the button with the 'intercomShow' directive to do anything. Clicking the button with the directive also does not produce any JS errors in the console, nor does it produce a network log in the network tabs of my Chrome debugger. I think I've adequately followed the d

[2018-04-25 13:46] scott-wyatt commented on #44
Can you show your CLI and tsconfig?

[2018-04-25 13:49] scott-wyatt commented on #45
Hi! We actually use the appId in ng-intercom, we don't use the api key at all.  With a client side application, you really don't want to expose your key or token, which is why intercom allows for the appId to drive the client side communication. Hope this helps, cheers!

[2018-04-25 13:49] #45 closed, assigned to nobody

[2018-04-25 13:51] scott-wyatt commented on #46
@wbhob any input on this? I haven't used the directives yet.

[2018-04-25 17:37] nicolasroy11 commented on #46
So here is an update. I got it to work with the directive. The problem was that I hadn't included the Intercom HTML script that actually loads the Intercom functionality (not the window.intercomSettings one - there are two).

This line in the configuration instructions is why I hadn't done that: "The module will automatically include the APP_ID instantiation, so you DO NOT need to copy the install

[2018-04-25 17:39] nicolasroy11 commented on #46
Misunderstood instructions

[2018-04-25 17:39] #46 closed, assigned to nobody

[2018-04-29 01:30] BCusack commented on #44
![tsconfig](https://user-images.githubusercontent.com/10039059/39402361-850a1d96-4ba0-11e8-8e60-7e3cb327c0d3.JPG)
![cli](https://user-images.githubusercontent.com/10039059/39402362-8dd573bc-4ba0-11e8-9ded-3b33b1c6db22.JPG)

[2018-05-05 00:49] Koslun opened #47 "Angular 6 support"
- Angular Version 6.0.0
- Angular CLI Version 6.0.0
- RxJS Version 6.1.0
- TypeScript Version 2.7.2
- Node Version 8.9.1
- NPM Version 5.5.1
- **ng-intercom Version 1.0.0-beta.13**

**Expected/desired**
Support Angular 6, TypeScript 2.7 and RxJS 6 without errors

**Actual**
Getting this error when starting a newly created angular-cli project with this library added to it:
[code]

Here is the [proj

[2018-05-09 03:46] kamaroolkarim opened #48 "No Error but Intercom not showing at all"
We use issues to track bugs and fixes, so general questions or advice should be asked on Stack Overflow or the Gitter Channels. Non "Fix/Bug" issues may closed without a formal response.

Before you submit an issue, please include:

- Angular Version (5.2)
- Angular CLI Version (1.7.3)
- Node (v9.8.0) & NPM Version (v5.6.0)

Detailed Description on how to reproduce error:

I followed instructions

[2018-05-09 04:41] #48 closed, assigned to nobody

[2018-05-09 04:43] scott-wyatt commented on #47
I’d be very open to a PR, otherwise I’ll have to wait till this hits my deployment schedule for angular 6.

[2018-05-09 04:44] scott-wyatt commented on #32
Marking this as a deprecated issue. Feel free to reopen another issue if this persists in a later version.

[2018-05-09 04:44] #32 closed, assigned to nobody

[2018-05-09 09:53] Koslun commented on #47
@scott-wyatt ok, will see if I can get some time later this week to try out the automated tooling I mentioned to provide a PR.

Looking at the git commit log I presume it'll be fine to follow the [AngularJS git commit message conventions](https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit) or similar [Conventional Commits](https://conventionalcommits.org/)

[2018-05-10 15:00] Koslun commented on #47
Have a WIP solution in PR #49. Missing some things that I don't think matter for consuming apps.

Noticed however that Angular itself maybe still worked as the above error was due to not including a router even though I used the router config of this library.

[2018-05-11 16:32] scott-wyatt opened #50 "Angular Release Cadence and Version Numbers"
Unless there is anyone in disagreement with a good use case, ng-intercom will follow the major release numbers of Angular. The next released version of ng-intercom will be v6 and the current master will be marked as v5.

[2018-05-30 13:52] macengr opened #51 "Align Intercom to left instead of right."
We use issues to track bugs and fixes, so general questions or advice should be asked on Stack Overflow or the Gitter Channels. Non "Fix/Bug" issues may closed without a formal response.

Before you submit an issue, please include:

- [ ] Angular Version - 5
- [ ] Angular CLI Version - 1.5.5
- [ ] Node & NPM Version - V9.9.0cli -version

Detailed Description on how to reproduce error:

My function

[2018-05-30 14:20] #47 closed, assigned to nobody

[2018-05-30 14:26] scott-wyatt commented on #51
I believe that you need to specify the styling under the widget values, but I could be wrong. The other option is to use CSS and the ID of the widget to do styling. I don't believe this is a bug, but if some one finds that it is, please feel free to reopen this issue.

[2018-06-07 13:23] rottingcorpse opened #53 "loadIntercom function doesn't work"
We use issues to track bugs and fixes, so general questions or advice should be asked on Stack Overflow or the Gitter Channels. Non "Fix/Bug" issues may closed without a formal response.

Before you submit an issue, please include:

- [ ] Angular Version - 4.4.6
- [ ] Angular CLI Version - 4.4.6
- [ ] Node & NPM Version - 6.13.1 and 3.10.10

Detailed Description on how to reproduce error:

Followe

[2018-06-08 05:53] arun-maddheshia commented on #51
[code]
chat button is on the right side ` alignment: "left",`

[2018-06-08 16:08] wbhob opened #54 "Attn: Scott & other contributors"
We need to start committing package-locks for safety. They've been a standard for 2 major versions of NPM. Thanks! - Wilson

[2018-06-08 16:25] #51 closed, assigned to nobody

[2018-06-08 16:25] wbhob commented on #31
Fixed by 1a8c401e1c09bd1b2a4b8a70c040a3b5f57116fb

[2018-06-08 16:25] #31 closed, assigned to nobody

[2018-06-08 16:26] wbhob commented on #28
This is available in the Intercom.id property. Closing

[2018-06-08 16:26] #28 closed, assigned to nobody

[2018-06-08 16:27] wbhob commented on #44
Have you tested this with v6?

[2018-06-08 16:27] wbhob commented on #53
Have you tested this with v6?

[2018-06-08 16:28] wbhob commented on #50
<3 i like this. not totally semver-friendly while in beta, but it's a little late for that now. sounds good to me!

[2018-06-08 16:28] #50 closed, assigned to nobody

[2018-06-15 03:13] wbhob commented on #53
Closing due to no response. If this issue persists, please open another issue.

[2018-06-15 03:13] #53 closed, assigned to nobody

[2018-06-15 03:14] wbhob commented on #44
Closing due to no response. If this issue persists, please open a new issue.

[2018-06-15 03:14] #44 closed, assigned to nobody

[2018-06-15 03:14] #54 closed, assigned to nobody

[2018-06-15 07:17] BCusack commented on #44
I’ll be spinning up a new project with v6, but intercom integration wants be until September. Let you know. Thanks

[2018-06-18 23:19] kwiesmueller opened #55 "Sending custome values with intercom.update"
## Versions
- **Angular:** "^5.2.0",
- **ng-intercom:** "ng-intercom": "^6.0.0-beta.1",

## Description
When doing an intercom update call like this:
[code]
The custom variable (defined in intercom) is not being set for the user.

[2018-06-21 16:03] wbhob commented on #55
Angular needs to be v6 to work with ng-intercom v6. Also please share console logs and surrounding code.

[2018-06-21 18:28] kwiesmueller commented on #55
Ah, stupid me...
That works! I even saw the table in the Readme but must have miexed up the lines.
Thanks!

[2018-06-21 18:28] #55 closed, assigned to nobody

[2018-07-23 23:54] marc-wilson opened #57 "Angular Unit Tests"
## Versions

- **Angular:** 6.0.9
- **Angular CLI:** 6.0.8
- **ng-intercom:** 6.0.0-beta.2
- **Node.JS:** 8.11.2
- **NPM:** 6.1.0

## Description

I have previoulsy been using the method recommended on the Intercom site (https://developers.intercom.com/docs/integrate-intercom-in-a-single-page-app) and found to be rather inconsistent/unstable. I ran accross this package and things started to work m

[2018-07-24 02:51] wbhob commented on #57
i didn’t know this was an issue. i can write a mock and build it in so you don’t have to.

[2018-07-24 03:04] marc-wilson commented on #57
Thanks, @wbhob. Let me know if you need an example repo to reproduce the errors.

[2018-07-24 09:48] tiberiumihai opened #58 "Intercom js loaded on window.onload instead of scriptElement.onload"
## Versions

- **Angular:** 5.2.0
- **Angular CLI:** 1.6.8
- **ng-intercom:** 6.0.0-beta.2
- **Node.JS:** <none>
- **NPM:** 5.8.0

## Description
IntercomJS is loaded on window.onload event instead of scriptElement.onload, or by a function to init and load the js.

When intercom js is injected before window.load is fired, the module will load and work just fine.
But when intercom is injected after

[2018-07-25 11:36] tienvx commented on #58
I confirm this is a bug. The workaround work like a charm.

[2018-07-26 20:49] wbhob commented on #58
I'd definitely be open to seeing a PR for this issue. This seems like a simple enough fix, but currently the behavior lives inside the provider. I remember, it was formerly outside of the provider, and would execute before Angular's instantiation. I'd be open to seeing a new implementation of a fix for this issue, though. Thanks!

[2018-08-03 10:04] tiberiumihai commented on #58
Sure. I'm working on a Fix, I'll send a PR when it's finished. Thanks!

[2018-08-03 10:45] tiberiumihai commented on #58
I'm trying to push a new branch `fix-injecting-intercom-script` where the changes resides but I get this:

[code]

[2018-08-03 15:22] scott-wyatt commented on #58
You’ll want to fork the repo and do a pull request. Thanks!

Sent from out and about

[2018-08-09 10:31] tiberiumihai commented on #58
@wbhob @scott-wyatt I've added the PR with the fix. Can you take a look and let me know if it requires anything else? It seems that the bug is gone after this fix.

[2018-08-14 14:25] tiberiumihai commented on #58
After merging and publishing to 6.0.0beta3, this issue is now fixed. Thanks!

Closing.

[2018-08-14 14:25] #58 closed, assigned to nobody

[2018-08-28 17:14] AntonisFK commented on #57
Upgraded to angular 6 and ng-intercom@6.0.0-beta.3 now my unit test are failing as well. Im getting an ` window.Intercom is not a function` error .

[2018-08-31 15:15] marc-wilson commented on #57
@Antonis: The `window.Intercom` is not a function error can be worked around. In most places where you're doing `window.Intercom`, you actually want to do `window['Intercom']` (which is the same thing, but it won't piss off the typescript compiler). The other issue with unit tests for this package is going to involve creating a mock class to use in your unit tests and provide that with the nginter

[2018-08-31 15:24] scott-wyatt commented on #57
@mswilson4040 we are always looking for help maintaining! Devs all working together to not have to repeat stuff is why we published this repo. Thank you for your input!

[2018-09-03 18:05] wbhob commented on #57
We are still maintaining this module, but have not had time to make any big changes. It has been relatively stable in our tests and in the community, but nonetheless we are hesitant to publish a full release (not beta- tagged).

[2018-09-10 05:38] kodeine opened #61 "Angular 5 support?"
Hello,
Does it support angular 5?

[2018-09-10 05:41] kodeine commented on #61
i am getting the following error.

<img width="577" alt="screen shot 2018-09-10 at 12 40 54 am" src="https://user-images.githubusercontent.com/8620059/45278337-3b6ca180-b492-11e8-957b-ef491716ad6f.png">

[2018-09-12 08:17] hassanasad opened #62 "window.Intercom is not a function"
## Versions

- **Angular:** 6.1.6
- **Angular CLI:** 6.1.5
- **ng-intercom:** 6.0.0-beta.3
- **Node.JS:** 10.9.0
- **NPM:** 6.4.1

## Description
After moving to beta.3, started getting errors `Object doesn't support property or method 'Intercom'`

**File**
webpack:///node_modules/ng-intercom/esm5/ng-intercom.js:57e.prototype.update

Sometimes another error shows `window.Intercom is not a function

[2018-09-12 15:47] wbhob commented on #62
Can you share browser/os info please

[2018-09-12 15:48] wbhob commented on #61
Angular 5 support was dropped in favor of Angular 6. There are still betas tagged 5.0.0-beta.x that support angular 5, but those are no longer being supported.

This error you shared in particular is from Ionic. You don't have @angular/router installed, which causes this issue.

[2018-09-12 15:48] #61 closed, assigned to nobody

[2018-09-12 18:59] hassanasad commented on #62
I have checked and its not one specific OS or browser.

Its reported on:
- Chrome 68 on Windows 7
- Safari 1.1.2 on Mac OS X 10.13
- Edge 17.17134.0 on Windows 10

[2018-09-13 15:41] marcosybarraa opened #63 "Language parameter is not accepted"
¿Could language_override added to the interface?

https://www.intercom.com/help/configure-intercom-for-your-product-or-site/customize-the-intercom-messenger/localize-intercom-to-work-with-multiple-languages

[2018-09-14 11:34] hassanasad commented on #62
@wbhob any update ? :)

[2018-09-17 14:16] shailendra-bhargava opened #64 "showing for Angular 2+ wrapper version"
## Versions

- **Angular:**
- **Angular CLI:**
- **ng-intercom:**
- **Node.JS:**
- **NPM:**

## Description

this error is coming while running ng build --prod

/node_modules/ng-intercom/ng-intercom.d.ts, found version 4, expected 3

ERROR in ./src/main.ts
Module not found: Error: Can't resolve './$$_gendir/app/app.module.ngfactory'

[2018-09-17 14:20] scott-wyatt commented on #63
I think it would be nice. PRs are accepted and appreciated!

[2018-09-17 22:02] #63 closed, assigned to nobody

[2018-09-17 22:02] wbhob commented on #63
done

[2018-09-18 15:16] #64 closed, assigned to nobody

[2018-09-18 15:16] wbhob commented on #64
You have the wrong version of Angular. Next time, please *follow the issue template*.

[2018-09-27 18:19] JohnnyTMD opened #65 "TypeError: Cannot read property 'boot' of undefined"
I have installed the module following the instructions and i get this error ”TypeError: Cannot read property 'boot' of undefined”. Here is the code:

`  public intercom: Intercom
  constructor() {
  }

  ngOnInit() {
      this.intercom.boot({  /// <--- on this line is the error
        app_id: 'app-id',
        widget: {
          "activator": "#intercom"
        }
      });
  }`

[2018-09-28 09:29] justinasit commented on #65
You should inject intercom provider into the component like this:
`constructor(private intercom: Intercom) {}`

[2018-09-28 17:22] wbhob commented on #65
@justinasit is right. Injectable providers must go in constructor, not outside of it.

[2018-09-28 17:22] #65 closed, assigned to nobody

[2018-09-28 17:23] wbhob commented on #62
Sorry, I have no idea what this issue might be. How is this being called? Have you verified that the Intercom JS has been loaded?

[2018-09-28 19:56] hassanasad commented on #62
I couldn't stay on beta3 for long because of this issue. Reverting back to beta2 fixes the issue for me :)

[2018-10-04 11:00] dottodot opened #66 "boot not working after shutdown"
I think this is a general issue with boot as it seems like it's not possible the use boot more than once.

This means if I want to use shutdown and then boot like below it doesn't work.

[code]

I believe the issue is is due to the `loadIntercom` function as the callback isn't used after

[code]

[2018-10-11 16:05] ghost commented on #62
Same here

[2018-10-11 19:38] wbhob commented on #62
@scott-wyatt do you have any idea what the issue might be?

[2018-10-11 19:41] ghost commented on #62
@wbhob race condition, I dunno. Just rolled-back to beta2.

[2018-10-11 22:51] scott-wyatt commented on #62
Yeah, there really should be a test that Intercom is defined on the window before it attempts this, that's likely the issue.

[2018-10-12 11:21] ghost commented on #66
same here

[2018-10-13 00:00] wbhob commented on #62
I attempted a fix in #67. Sorry for the lack of attention on our end!

[2018-10-13 00:00] wbhob commented on #66
I attempted a fix in #68. Turns out you were spot on. Scott is going to review these PRs tomorrow, and I'll likely publish as soon as it's merged. Thanks for your patience!

[2018-10-13 00:01] wbhob commented on #57
@AntonisFK this is fixed in #67 @mswilson4040 can you share a repo so I can finish up those mocks

[2018-10-13 09:02] ghost commented on #66
nice

[2018-10-15 05:54] Greatsamps opened #72 "appId being ignored in boot method"
## Versions

- **Angular: 6.0.0
- **Angular CLI: 6.2.3
- **ng-intercom: 6.0.0
- **Node.JS: 8.12.0
- **NPM: 6.4.1

## Description
I have followed the instruction in the main readme, which indicates that the intercom appId can be overridden via a boot method which is what we require. The project we are working on has multiple appId's, depending on the domain that's being accessed.

Unless an appId i

[2018-10-15 20:55] eyalhakim commented on #40
@scott-wyatt this reproduces now for me in beta.6

[2018-10-16 11:21] motcowley commented on #40
Also seeing the same problem on 6.0.0-beta.x

[2018-10-16 13:10] wbhob commented on #72
I have an idea for what to do here @scott-wyatt I'll try to make a PR this evening

[2018-10-16 16:53] chrishawn commented on #40
yeah it definitely seems to be back

[2018-10-16 16:54] chrishawn opened #74 "Function calls are not supported in decorators but 'IntercomModule' was called. - Regression in beta.6"
_Originally posted by @chrishawn in https://github.com/CaliStyle/ng-intercom/issue_comments#issuecomment-430313444_

[2018-10-17 11:05] Greatsamps commented on #72
I have managed to fix this, let me know if you are interested in the solution...

[2018-10-17 13:23] developcodeza-matthew commented on #74
I'm having the same issue.

It fails only when building it for prod with ng build --prod  (with AOT enabled).

It would seem that when using the @NgModule decorator, the module will be statically analyzed by the AOT compiler (if AOT is set of course).

If this may explain the issue, here is a [StackOverflow](https://stackoverflow.com/questions/51475871/angular-6-prod-function-calls-are-not-support

[2018-10-18 15:22] timsergeev commented on #40
Its 100% back. 6.0.0-beta.6

[2018-10-19 16:26] wbhob commented on #40
Locking this issue, please continue conversation in #74

[2018-10-19 16:33] wbhob commented on #74
@scott-wyatt the issue could be related to treating IntercomConfig as an interface. It doesn't get compiled to JS, so it would make sense that it can't be injected. https://github.com/CaliStyle/ng-intercom/blob/9957d161280bf48d2305caee657fd282ddaf55cb/src/app/ng-intercom/types/intercom-config.ts#L1

[2018-10-19 16:34] wbhob commented on #72
@Greatsamps what is the solution?

[2018-10-19 16:38] wbhob commented on #72
#72 addresses this issue

[2018-10-24 14:44] osnersanchez opened #76 "Support for angular 7.0"
Level up in angular suport

[2018-10-24 15:15] scott-wyatt commented on #76
PRs are welcome!

[2018-10-24 17:22] Vaishak018 commented on #74
I'm also having the same issue.

Any workaround for now ?

[2018-10-25 07:40] LiamLB commented on #74
I disabled AoT for now which is really not ideal. You can do so in the angular.json configuration file.
[code]

[2018-10-25 12:06] wbhob commented on #74
Sorry about the delay, folks. I'll test this on my end and let you know if this is the issue or if, as mentioned in the previous issue, it's ngpackagr.

[2018-10-25 12:13] davcj opened #77 "Event metadata must be an object"
## Versions

- **Angular:** 6.1.0
- **ng-intercom:** 6.0.0

## Description

I got error "Event metadata must be an object" when trying to call function trackEvent with metadata. Function   "public trackEvent(eventName: string, metadata?: string)" should accept metadata argument of type any, not string.

Thanks in advance

[2018-10-25 13:15] wbhob commented on #77
fixed in #78

[2018-10-25 17:00] #77 closed, assigned to nobody

[2018-10-28 00:19] osnersanchez opened #79 "Problems when building"
I have the following problem when building the project
![image](https://user-images.githubusercontent.com/12916793/47610453-b890ad80-da23-11e8-8a5f-108026b4f4a9.png)

I am using the following configuration
ng build --prod --output-hashing=all

This problem occurs when adding --prod

The problem occurs specifically when adding the parameters in IntercomModule.forRoot

![image](https://user-images.g

[2018-10-28 00:35] osnersanchez commented on #79
Apparently my problem is related to the issue #74

[2018-10-28 01:35] wbhob commented on #79
Yeah, I'm closing as a dupe of #74.

[2018-10-28 01:35] #79 closed, assigned to nobody

[2018-10-28 02:00] wbhob commented on #74
We're running this internally on Angular v7. Have you tried upgrading? I can't reproduce this issue.

[2018-10-28 02:26] wbhob commented on #74
I made some changes on the `ng-intercom/wilson-74` branch. If you're experiencing this issue, I'd invite you to pull this down, build locally, and install locally and see if it's fixed.

Alternatively, 7.0-beta.0 will be out soon (after approval by scott) if you want to stick to the npm version.

[2018-10-28 02:31] wbhob commented on #76
Done in #74

[2018-10-28 02:31] #72 closed, assigned to nobody

[2018-10-28 02:32] #62 closed, assigned to nobody

[2018-10-28 02:32] #57 closed, assigned to nobody

[2018-10-28 02:32] #66 closed, assigned to nobody

[2018-10-30 07:41] LiamLB commented on #74
Thanks for the response. I'm unable to upgrade to Angular 7 at the moment and a manual install would be a bit painful for the pipeline. Just want to confirm that the issue was not reproducible with Angular 7 though?

Is there anything else possible? Will the 7.0-beta.0 release be backwards compatible with Angular 6? If so, will it possibly be released before the 6th of November (I have a major rel

[2018-10-30 10:36] LiamLB commented on #74
Hi again, I've managed to upgrade to Angular 7. I'm still getting the error when building with AoT. I will try to build from your branch directly and let you know.

[2018-10-30 14:36] wbhob commented on #74
If this is still an issue for you, we're open to PRs. At this point, CS can't throw a lot more resources at development, especially since we can't reproduce the issue. We will definitely continue to maintain by merging PRs, though

[2018-11-02 18:35] LiamLB commented on #74
Just wanted to note this issue is not present in 6.0.0-beta.3 (npm install --save ng-intercom@6.0.0-beta.3). It is present in all the more recent versions.

[2018-11-05 01:47] eyalhakim commented on #74
I'm having this issue as well, with Angular 7 and ng-intercom 6.0.0-beta.7.

From a research I did, it probably only happens given a certain tsconfig.json configuration.

[2018-11-06 12:23] wbhob commented on #74
@eyalhakim please share your configuration

[2018-11-06 12:51] eyalhakim commented on #74
I am using a Universal app.

tsconfig.json:

`{
  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "noUnusedLocals": true,
    "noUnusedParameters": true,
    "target": "es5",
    "downlevelIteration": true,
    "i

[2018-11-06 13:26] wbhob commented on #74
Can someone else confirm that changing your config to this works?

[2018-11-06 13:29] eyalhakim commented on #74
@wbhob you mean, doesn't work right? aka causing the bug.

[2018-11-06 19:08] wbhob commented on #74
Yes.

[2018-11-08 19:30] neilsoult commented on #74
I am experiencing the bug as well, and have a similar config:
[code]
app:

[code]

[2018-11-08 19:41] wbhob commented on #74
If you change the config, does it work @eyalhakim

[2018-11-08 19:55] neilsoult commented on #74
@wbhob what is the configuration that you are using that does not produce the bug?

[2018-11-08 20:40] wbhob commented on #74
Most importantly, it has `commonjs` as the module format which could be the issue. If that doesn't work, see what happens when the target is `es6`

[2018-11-12 20:22] #76 closed, assigned to nobody

[2018-11-12 21:01] junaidsarwarpk commented on #74
@scott-wyatt issue still persists, previous commit did not help.

[2018-11-15 09:01] Jatulito opened #81 "Error with ng build --prod"
When I try to build prod I get:
ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'IntercomModule' was called.

## Versions:

Angular CLI: 7.0.6
Node: 8.11.3
Angular: 6.0.2
NPM: 5.6.0
ng-intercom: "^7.0.0-beta.0"

app.module.ts:

import { IntercomModule } from 'ng-intercom';
@NgModule({
  imports: [
    CommonModule,
    BrowserAnimationsMod

[2018-11-15 16:27] wbhob commented on #81
We are aware of this issue and lack the resources to fix it. PRs are welcome.

[2018-11-15 20:19] alexregier commented on #74
Same here. Especially with the `ng xi18n` builder.

[2018-11-16 13:09] wbhob commented on #74
**People. We need a PR. We don't have the resources within the company  to fix this now. We're looking for contributions from the community to fix this issue. We will review your PR if you submit one.**

We can't reproduce this issue internally, either, and since that's the case, we don't need a fix for our own projects. If you want a fix, please contribute one.

[2018-11-16 13:13] wbhob commented on #81
Duplicate of #74.

[2018-11-16 13:13] #81 closed, assigned to nobody

[2018-11-17 01:53] Koslun commented on #74
Also still seeing the same error as described as above when compiling with AOT. Using version `7.0.0-beta.0` with Angular 7. Using Angular CLI to build the project and using this TSConfig:

[code]

The line `"paths": { "stream": [ "../node_modules/readable-stream" ] },` is used to solve a specific issue with papaparse when compiling with Angular CLI.

This is currently blocking our upgrade to Angu

[2018-11-17 02:34] Koslun commented on #74
Looking at the code and comparing it to [@angular/flex-layout](https://github.com/angular/flex-layout/blob/master/src/lib/module.ts), which has an optional static method, and [ngx-cookie](https://github.com/salemdar/ngx-cookie/blob/master/lib/src/lib/cookie.module.ts) I only see two clear differences:
1. I notice is that the value provided in this library is `IntercomConfig` which is an `@Injectab

[2018-11-17 21:28] wbhob commented on #74
If you want to make a PR, i'd be happy to take a look and merge it in. Thanks for investigating @Koslun

[2018-11-19 03:25] Koslun commented on #74
@wbhob got it. I made the changes locally in a copy of the library I put into our project. It continued working but still couldn't build the project and try it out as it will appear on npm.

Will try to create a PR later this week depending on time. And then I'll see about testing it more or if you or someone else can do it.

[2018-11-19 03:59] StevenH86 opened #82 "Function calls are not supported in decorators but 'IntercomModule' was called."
I am getting this error when trying to build.

ERROR in Error during template compile of 'AppModule'
  Function calls are not supported in decorators but 'IntercomModule' was called.

Using Angular 6.1.1 with Ionic Framework 4.0.0-beta.7

Any ideas? Never had to fix an issue like this before.

[2018-11-19 18:32] #82 closed, assigned to nobody

[2018-11-19 18:32] wbhob commented on #82
we are aware of this issue in #74

[2018-11-19 18:34] wbhob commented on #74
@Koslun if you run `npm run build:dist`, then cd into dist and run `npm package`, you can install the output .tgz file as an npm package to test! Hope this helps.

[2018-11-19 20:35] Koslun commented on #74
@wbhob thanks will try this then, when I can get the time this week.

[2018-11-23 11:33] swapniltomake commented on #79
Same Problem

[2018-11-23 17:22] wbhob commented on #79
We're still waiting on a PR in #74 @swapniltomake

[2018-11-26 08:11] hassaanp commented on #74
Hi folks,
Is there any temporary hack or workaround for this?

[2018-11-26 11:51] wbhob commented on #74
You could use a lower version @hassaanp or just build JiT

[2018-11-26 12:18] hassaanp commented on #74
I am going ahead with JiT for now.
Thanks @wbhob

[2018-11-27 14:54] Hesesses commented on #74
Hello, thank you very much for creating this.
Just installed this:
`npm install ng-intercom@latest --save -> "ng-intercom": "^7.0.0-beta.0",`
It works perfectly locally, but when creating --prod --aot build, getting the error also.

I'm using Angular 7.1

[2018-11-27 22:12] wbhob commented on #74
Before you leave a comment:

We know this is an issue with AoT and Angular 7+. @Koslun is working on a fix. Don't leave another comment below unless you have something new to contribute or it will be marked off-topic.

Also, my previous comment:

[2018-12-02 18:37] Hesesses commented on #74
@Koslun sorry to disturb you, but do you have any eta when the fix might be available? 🙏

[2018-12-05 12:55] lucagouty commented on #74
@Koslun @wbhob I made a PR fixing the issue : https://github.com/CaliStyle/ng-intercom/pull/83

Also, as it was said before, `npm install --save ng-intercom@6.0.0-beta.3` does fix the issue until this is merged

[2018-12-05 13:34] #74 closed, assigned to nobody

[2018-12-05 15:29] Koslun commented on #74
@lucagouty
Thanks for the fix, great find!

@Hesesses
Reviewing it my proposed refactorization was different and would likely not have fixed the issue at hand. As it's been fixed now I think I'll avoid making any more needless changes.

[2019-01-14 11:29] lehno opened #85 "Provider parse errors, Cannot instantiate cyclic dependency"
## Versions
- **Angular:7**
- **ng-intercom:latest**

## Description
Getting this error for a while now, I don't know what is the problem.

`compiler.js:11498 Uncaught Error: Provider parse errors:
Cannot instantiate cyclic dependency! ApplicationRef ("[ERROR ->]"): in NgModule AppModule in ./AppModule@-1:-1
    at NgModuleProviderAnalyzer.push../node_modules/@angular/compiler/fesm5/compiler.js.Ng

[2019-01-20 18:41] wbhob commented on #85
We'd be happy to review a PR that addresses this issue.

[2019-02-06 15:05] eyalhakim opened #86 "Please ensure your intercomSettings object is formatted correctly: Missing App ID."
## Versions

- **Angular:** 7.0.2
- **Angular CLI:** 7.0.4
- **ng-intercom:** 7.0.0-beta.1
- **Node.JS:** 10.1.0
- **NPM:** 6.7.0

## Description

A warning is thrown despite everything working correctly:
`Please ensure your intercomSettings object is formatted correctly: Missing App ID.`

I spoke to Intercom and they confirmed they do not see this error on their logs.

[2019-02-06 15:28] alexyoungs commented on #86
I've also just started seeing this having had it working for a while.

[2019-02-06 17:06] JohnnyTMD commented on #86
I've also just started seeing this and it appeared without touching any intercom related code.

[2019-02-06 17:52] scott-wyatt commented on #86
@eyalhakim can you put the output from the console in the issue?

[2019-02-06 18:07] scott-wyatt commented on #86
This appears to be a change from Intercom, nothing we can really do here until intercom publishes their updated documentation.

[2019-02-06 19:16] eyalhakim commented on #86
@scott-wyatt here is the output:
`frame.b9364e05.js:1 Please ensure your intercomSettings object is formatted correctly: Missing App ID.

safeConsoleWarn @ frame.b9364e05.js:1

t.createOrUpdateUser @ frame.b9364e05.js:1

t.createOrUpdateUser @ frame.b9364e05.js:1

update @ frame.b9364e05.js:1

(anonymous) @ frame.b9364e05.js:1

processApiQueue @ frame.b9364e05.js:1

(anonymous) @ frame.b9364e05.js

[2019-02-07 11:37] alexyoungs commented on #86
Solved this for now by removing ng-intercom, adding the intercom snippet to index.html and using the following in app.component:

`
(<any>window).Intercom(‘boot’, {
    app_id: ***
});
`

Further to this, I subscribed to the current logged in user as well as router events to handle page changes and sending user details, by calling the following:
`
(<any>window).Intercom('update', {
    email: 'ema

[2019-02-07 17:09] danielhusar commented on #86
Sorry guys sorry for breaking this!
Simply adding `window.intercomSettings` with appId will remove the warning.

I will remove the warning meanwhile to avoid any false positives.

[2019-02-07 17:18] scott-wyatt commented on #86
Thanks @danielhusar, we will add `window.intercomSettings` to the source and push as soon as possible.

[2019-02-07 17:20] scott-wyatt opened #87 "[fix] use window.intercomSettings to initiate app ID"
As per Intercom, using the intercomSettings to provide the app ID will quiet issue in console.

Ref:
#86

[2019-03-11 14:02] nethore commented on #51
Hi all,

Is it fixed ? Because with v7.0.0-beta.1 which seems to be latest version I still have the issue.

Thanks.

[2019-03-11 14:56] #87 closed, assigned to nobody

[2019-03-11 14:57] scott-wyatt commented on #51
Try v7.0.0-beta.2, this issue should now be fixed.

[2019-03-11 15:55] nethore commented on #51
Thanks. Will it be available on npm?

[2019-04-26 13:43] adrogon opened #92 "Lib broken in 8.0.0-rc.0"
## Versions
- **Angular:** 8.0.0-rc.0
- **Angular CLI:** 8.0.0-rc.0
- **ng-intercom:** 7.0.1-beta.3
- **Node.JS:** 10.14.1
- **NPM:** 6.4.1

## Description
`DOCUMENT` has been deprecated from `@angular/platform-browser` since 4.3.0.
They have now removed the export entirely in the latest beta/rc.

Following PR to change the import.

[2019-04-26 15:25] adrogon commented on #92
Confirmed resolved by #93, thank you for the fast deploy @scott-wyatt :smirk:

[2019-04-26 15:25] #92 closed, assigned to nobody

[2019-05-22 12:42] eyalhakim opened #95 "Star tour function needed"
## Versions

- **Angular:**
- **Angular CLI:**
- **ng-intercom:**
- **Node.JS:**
- **NPM:**

## Description

[2019-05-22 13:59] wbhob commented on #95
Can you send a link to documentation please? I don't know what "start tour" is in Intercom.

[2019-05-22 14:00] wbhob commented on #85
Does this issue still occur?

[2019-05-22 20:01] eyalhakim commented on #95
@wbhob It's the newest Intercom feature:
https://developers.intercom.com/installing-intercom/docs/intercom-javascript#section-intercomstarttour-tourid

[2019-06-21 17:29] #95 closed, assigned to nobody

[2019-07-02 09:50] vgensw commented on #95
@wbhob could you please release your latest commits? Version 8.0.0.beta-1 is still the latest release (I guess) :-)

thank you!

[2019-07-02 14:16] wbhob commented on #95
@scott-wyatt i updated the version but evidently it didn't deploy

[2019-07-02 14:41] scott-wyatt commented on #95
Did you do a release?

[2019-07-02 14:50] wbhob commented on #95
I `npm version`'d it and I thought it did it automatically. guess not

[2019-07-02 15:02] scott-wyatt commented on #95
Yeah, you still have to create a github release with a v8.0.0<version>, that triggers the CI to publish to NPM.

[2019-07-02 17:09] wbhob commented on #95
got it. its going now.

[2019-10-09 20:23] naeem-gitonga commented on #66
I am still seeing this issue. After shutdown ng-intercom will not boot and will remove the message widget. please help.

[2019-10-11 14:52] wbhob commented on #66
Are you on the latest version?

[2019-10-11 15:14] naeem-gitonga commented on #66
Yes, 8.0.0

[2019-10-11 17:21] wbhob commented on #66
Do you have platform/browser information? I can't really debug this issue because you haven't told me how to reproduce it.
.

[2019-10-11 17:57] naeem-gitonga commented on #66
Sure, thanks!
We are using Angular 8, the latest version of chrome. When I use the `shutdown` method (right before logout), it will make the intercom icon disappear from my login page, and it will not reappear on its own. In order to bring it back I would have to refresh the page or log back into my app.

[2019-10-12 18:02] wbhob commented on #66
Ok, so what you'll want to do in this case is immediately after shutdown, call `boot()` again, but without user data passed in. Then, when the user logs back in, call shutdown again, and boot again with the user data. If the app is refreshed, it will show up with out a user by default, so you don't have to do anything there.

More info: https://www.intercom.com/help/en/articles/16845-how-do-i-end-

[2019-10-19 15:03] naeem-gitonga commented on #66
@wbhob Thanks!

[2020-01-10 12:40] andy-hook opened #97 "Route performance problems using updateOnRouterChange"
## Versions

- **Angular:** 8.2.8
- **Angular CLI:** 8.3.6
- **ng-intercom:** 8.0.0
- **Node.JS:** 10.11.0
- **NPM:** 6.4.1

## Description

I'm experiencing significant performance problems when changing routes with updateOnRouterChange enabled. In my profiler some of my tasks takes up to 5 or 6 times as long.

Here's an example from clicking between two routes in my app:

`updateOnRouterChange:

[2020-01-10 13:57] andy-hook commented on #97
I did some digging and the intercom update function is being called many times due to a subscription matching all router events. Changing this to match for NavigationEnd should fix the issue.

[2020-01-15 08:50] andy-hook commented on #97
Hi @scott-wyatt @wbhob – Are you able to publish with this change?

[2020-01-21 10:59] andy-hook commented on #97
@scott-wyatt, @wbhob – I hate to be that guy but what's the eta on getting 8.0.1 published to npm?

[2020-01-21 13:56] scott-wyatt commented on #97
Opps! Sorry about that, I thought it published. I’ll publish it to npm this morning

Sent from out and about

[2020-01-21 21:39] andy-hook commented on #97
Thanks for getting this out!  🎉

[2020-01-21 21:39] #97 closed, assigned to nobody

[2020-01-22 02:40] juliancarrivick opened #99 "[8.0.1] Cannot find module 'ng-intercom'"
## Versions

- **Angular:** 8.2.14
- **Angular CLI:** 8.3.23
- **ng-intercom:** 8.0.1
- **Node.JS:** 10.15.3
- **NPM:** 6.9

## Description

Typescript is unable to resolve the module when importing from `"ng-intercom"`
Repro:
- `ng new ng-intercom-repro`
- `npm install --save ng-intercom`
- Add `import { IntercomModule } from "ng-intercom"` and `IntercomModule.forRoot({appId: ''})` to imports in

[2020-01-22 10:58] andy-hook commented on #99
@scott-wyatt – I encountered this trying to upgrade this morning, looks like the src folder was published instead of the built dist

[2020-01-22 16:43] dmitrye commented on #99
Getting a similar issue: Cannot use namespace 'Intercom' as a type. Was on 8.0.0 beta then today it was automatically updated to 8.0.1 and now all the builds break.

[2020-01-26 21:02] lazarljubenovic commented on #99
The issue seems to be fact that the `dist` folder isn't published, while `package.json` claims the following:

[code]

The directory doesn't exist though; thus the whole module isn't properly recognized by TypeScript's resolution algorithm. The previous version of this package (8.0.0) had a different folder structure altogether, with proper mappings provided in `package.json`. Simply reverting bac

[2020-01-27 10:41] andy-hook commented on #99
@scott-wyatt, @wbhob – I appreciate your work on this package, and again, I hate to nag, but when can we expect to have this resolved? As far as I can see this just needs republishing using the correct dist directory.

[2020-01-27 15:20] scott-wyatt commented on #99
Hi all, forgot to read my own documentation, I apologize for that.  Typically the CI/CD takes care of publishing, but there is an unrelated to the library error that is making the tests fail, and we are pretty swamped.  I'll be publishing 8.0.2 in a few moments.

[2020-01-27 15:25] #99 closed, assigned to nobody

[2020-03-16 01:07] alexsukhodolsky opened #100 "Error starting tour"
## Versions

- **Angular:** 9.0.5
- **Angular CLI:** 9.0.5
- **ng-intercom:** 8.0.2
- **Node.JS:** 13.8.0
- **NPM:** 6.11.3

## Description

I get a 403 error with the following message when running `intercom.startTour()` command:

[code]

[2020-03-16 02:45] alexsukhodolsky commented on #100
Closing--this was my fault. Wrong user hash.

[2020-03-16 02:45] #100 closed, assigned to nobody

[2020-04-13 15:51] svelivala opened #101 "Intercom is not compatible with Angular 9 since .forRoot() got deprecated."
## Versions

- **Angular: 9**
- **Angular CLI:9.1.1**
- **ng-intercom:8.0.0**
- **Node.JS:**
- **NPM:**

## Description

[2020-04-13 21:34] wbhob commented on #101
We don't claim that this package is compatible with Angular 9 (devDependencies point to v7). Secondly, if [this](https://angular.io/guide/deprecations#modulewithproviders-type-without-a-generic) is what you're referring to, forRoot is not deprecated, it just needs a quick modification. Third, please follow the issue template. If you'd like to fix this in a pull request, we'd be more than happy to

[2020-06-24 04:10] 8tomo8 commented on #101
Works perfectly fine for me in Angular 9

[2020-06-29 16:25] cgbrucezjy commented on #101
for me, intercom boot works, but startTour doesnt work anymore. I notice the fetch call is success, but the iframe is not modified at all, therefor nothing happens.

[2020-09-21 20:45] #85 closed, assigned to nobody

[2020-09-21 20:46] #86 closed, assigned to nobody

[2021-04-01 20:36] pablovargasosorio opened #105 "Angular 11 is incompatible"
Got this error after updating to Angular 11:

`ERROR: node_modules/ng-intercom/src/app/ng-intercom/intercom.module.d.ts:4:45 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s).

4     static forRoot(config: IntercomConfig): ModuleWithProviders;`

## Versions

- **Angular: 11.2.7**
- **Angular CLI: 11.2.7**
- **ng-intercom: 8.0.0**
- **Node.JS: 12.20.0**
- **NPM: 6.14

[2022-01-31 12:44] mohammad-mehdi-mohammadi opened #107 "Not showing Intercom(icon widget) before login"
## Versions

- **Angular:** 10.0.0
- **Angular CLI:** 10.0.0
- **ng-intercom:** 8.0.2
- **Node.JS:** 16.13.1
- **NPM:** 8.3.0

## Description

First reason of submitting this issue is for others who will face this problem: when an user visits website page (without setting email) the icon widget disappear automatically so to handle this problem it needs to be set as below:
`
      this.intercom.boo

[2022-08-15 12:23] dima-supy-io commented on #105
Hey @pablovargasosorio! We've forked and fixed this at https://www.npmjs.com/package/@supy-io/ngx-intercom

[2022-09-02 00:48] tghamm commented on #105
@dima-supy-io will you have a version that's compatible with ng 14 soon?